<div class="row column">
    <h1>
        Keywords
    </h1>
    <a href="/keywords/add" class="button success">Ajouter</a>
    <button class="button" (click)="updateKeywords()">
        Update keywords
    </button>
    <button class="button" (click)="logout()">Log out</button>
</div>


<div class="row" data-equalizer data-equalize-on-stack="false">
    <div class="columns small-6 medium-4 end" *ngFor="let keyword of keywords">
        <div class="card-divider" data-equalizer-watch>
            <strong>{{keyword.title}}</strong> ({{keyword.twitterName}})
            <br>
            <small>{{keyword.type}}</small>
            <br>
            <br>
            <div class="light mid">
                <small><i>{{keyword.mid}}</i></small>
            </div>
        </div>
        <div class="card-section">
            <p *ngIf="keyword.createdAt">
                Updated at {{keyword.createdAt | date: 'dd/MM/yyyy H:mm:ss'}}
            </p>
            <button class="button alert tiny" (click)="deleteKeyword(keyword._id)">
                Supprimer
            </button>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="columns medium-6">
        <div class="row column">
            <h1>
                Matchs
            </h1>
            <button class="button" (click)="updateMatchs()">
                Update matchs
            </button>
        </div>
        <div class="row">
            <div class="column end" *ngFor="let match of matchs">
                <div class="card-divider bold">
                    <strong>{{match.title}}</strong>, {{match.subTitle}}
                </div>
                <div class="card-section">
                    <p *ngIf="!match.createdAt">Aucune donnée</p>
                    <p>Updated at {{match.updatedAt | date: 'dd/MM/yyyy H:mm:ss'}}</p>
                    <span *ngFor="let keyword of match.keywords; let last = last">
                        {{keyword.title}}<span *ngIf="!last">, </span>
                    </span>
                    <br>
                    <button class="button alert tiny" (click)="deleteMatch(match._id)">
                        Supprimer
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="columns medium-6">
        <div class="row column">
            <h3>
                Create match
            </h3>
        </div>

        <div class="row column">
            <div class="">
                <label>
                    Name
                    <input type="text" [(ngModel)]="newMatch.title">
                </label>
                <label>
                    Subtitle
                    <input type="text" [(ngModel)]="newMatch.subTitle">
                </label>

                <label>
                    End date
                    <input type="date" [(ngModel)]="newMatch.endDate" name="endDate">
                </label>

                <label>
                    Parent match (optional)
                </label>
                <select [(ngModel)]="newMatch.parentMatchId">
                    <option value="" selected="">Choose</option>
                    <option *ngFor="let match of matchs" [(value)]="match._id">{{match.title}}, {{match.subTitle}}</option>
                </select>

                <label>
                    Keywords
                </label>

                <select [(ngModel)]="newMatch.keywords" multiple>
                    <option *ngFor="let keyword of keywords" [(value)]="keyword.mid">{{keyword.title}}</option>
                </select>
                <button class="button success" (click)="createMatch(newMatch.keywords)">
                    Create
                </button>
            </div>
        </div>

        <div class="row column">
            <a href=""></a>
        </div>
    </div>

</div>
